# Executaveis
segmentador
segmentador.exe
**/segmentador
**/segmentador.exe

# Arquivos temporarios de compilacao
*.o
*.obj
*.out
*.aux
*.log
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# Build folders
build/
cmake-build-*/

# Sistema operacional
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Saidas geradas - Regra Geral
data/output/*
code/data/output/*

# Exceção: Manter o .gitkeep para garantir que as pastas existam
!data/output/.gitkeep
!code/data/output/.gitkeep